<div class="about" id="about">
<div class="container">
  <h1>About Me</h1>

  <div class="hr1"></div>
    <p class="who">who am I</p>
  <div class="hr"></div>



<div class="row">
  <div class="col-lg-5">
<a data-bs-toggle="tooltip" data-bs-html="true" title="sheikh jilani">  <img class="passport-pic"  src="photos/home2.png" alt="me"></a>

  </div>
<div class="col-lg-7">
<div class="card" style="max-width: 40rem">
    <div class="card-body">
      <h5 class="card-title">I,m <span class="about-style">Jilani </span>  and I'm a <span class="about-style">full-stack web-developer</span></h5>

      <p class="card-text">I am a full-stack web-developer. I can provide clean code and pixel perfect design .
skilled in <span class="data">HTML, CSS, bootsstrap, Javascript, Node.js, epress.js, mongodb, Jquery, Reactjs</span>
 strong knowledge of websites stack HTML,CSS,Javascript,mongoose. I can provide static as well as smooth
responsive desing connecting to functional backend(express.js,moongse) & with database connection on a reasonable price.
I also have proficiency with google, facebook, twitter, github <span class="data">authentication !</span></p>
<button type="button" class="btn btn-outline-success" name="button">Dwonload CV</button>


    </div>
  </div>

</div>
</div>
</div></div>
