<div class="home " id="home">
<div class="container">
<div class="row">
  <div class="col-md-7">
    <p>hello, I am </p>
<p class="name">Sheikh Ibnus Sabil <span class="web-dev">Jilani</span></p>
<p>i'm a <span class="web-dev">full stack web-developer</span></p>
<a  href="mailto:jilanesk2318march@gmail.com"><button type="button"  class="btn hire btn-large btn-outline-warning" name="button">Hire me</button></a> 
  </div>
<div class="col-md-5">
<img class="jilani" src="photos/best.png" alt="owner">

</div>
</div>
</div></div>
