        <div class="box">
          <form method="post" action="/input" enctype="multipart/form-data" >
  <i class="fa-brands fa-fort-awesome-alt fa-beat fa-5x" ></i>
    <h1 class="h3 mb-3 fw-normal">add content</h1>



  <div class="form-floating">
    <input type="text" name="title" class="form-control border" id="username" placeholder="title" autofocus required>
    <label for="floatingPassword">title</label>
    </div>



    <div class="form-floating">
      <input type="text" name="content" class="form-control border2" id="floatingInput" placeholder="comment" >
      <label for="floatingInput">content</label>
    </div>
    <div class="form-floating">

    <div class="form-floating">
      <input type="file" name="file" class="form-control " style="border:1px solid black" id="floatingPassword" placeholder="file" required>
      <label for="floatingPassword">file</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">post</button>

  </form></div>
