<nav class="navbar navbar-expand-md colour sticky-top">


    <div class="logodiv">
      <h1 ><a  href="http://www.goolge.com" class=" navbar-brand brand logo"><i class="fa-brands fa-fort-awesome-alt fa-beat"></i>  port<span class="brand">folio</span></a></h1>

    </div>
    <button class="navbar-toggler button flex d-flex-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <img src="photos/list.png"/>

    </button>
    <div class="offcanvas offcanvas-start collpase-style" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation Bar</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <ul class="navbar-nav ul">
        <li class="nav-item itemColor">
          <a class=" inline" href="#home" autofocus>home</a>
        </li>
        <li class="nav-item itemColor">
          <a class=" inline" href="#about">about</a>
        </li>
        <li class="nav-item itemColor">
          <a class=" inline" href="#works">Works</a>
        </li>
        <li class=" nav-item itemColor">
          <a class=" inline" href="#skills">skills</a>
        </li>
        <li class="nav-item itemColor">
          <a class=" inline" href="#contact" >contacts</a>
        </li>
      </ul>
    </div></nav>
