
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Signup</title>
<!-- bootsstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/efa9c736ff.js" crossorigin="anonymous"></script>
<!-- ?fontawesome -->
<script src="https://kit.fontawesome.com/0415462065.js" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }



      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
hr{border-style: dotted;}
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="css\signup.css" rel="stylesheet">
  </head>
  <body class="text-center"><div class="container mar">
    <div class="row">
      <div class="col-lg-7 clo7">
        <main class="form-signin w-100 m-auto">
          <div class="box">

        <form method="post" action="/signup">
          <i class="fa-brands fa-fort-awesome-alt fa-beat fa-5x" ></i>
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
          <div class="form-floating">
            <input type="text" name="username" class="form-control border" id="username" placeholder="username" autofocus>
            <label for="floatingPassword">username</label>
            </div>
            <div class="form-floating">
              <input type="email" name="email" class="form-control border2" id="floatingInput" placeholder="name@example.com" >
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">

            <div class="form-floating">
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
              <label >
            <p class="txt">    <input  type="checkbox" value="remember-me">
                Remember me
        </p>
              </label><hr class="hr"/>
          <label class="txt"><p class="txt">
            already have an account?  <a href="/login">login</a>
        </p></label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted py-10px">&copy;<%=Day%> </p>
          </form></div>
        </main>

      </div>
      <div class="col-lg-5 property">
        <div class="horizon">

</div><h1 class="h1">OR</h1><div class="horizon2">

</div><div>
 <!-- <button type="button" name="button" class="button">
    <a class="btn btn-primary btn-social btn-facebook" href="/auth/facebook"><span class="fa fa-facebook"></span> Sign up with Facebook</a>
  </button><hr style="border-style:none
height:0;width:0" /> -->
  <button type="button" name="button" class="button">
    <a class="btn btn-dark btn-dark-light btn-goolge" href="/auth/google"><span class="fa fa-google"> </span> Sign up with Google</a>
   </button><hr style="border-style:none
 height:0;width:0" />
   <button type="button" href="" name="button" class="button">
      <a class="btn btn-primary btn-dark btn-github" href="/auth/github"><span class="fa fa-github"></span> Sign up with github </a>
    </button>

</div>
      </div>

    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- <script src="../../index.js" type="text/javascript"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  </body>
</html>
