<div class="form-box">
  <form action="https://formsubmit.co/ea15760ba4932f0d517601bd82e95e27" method="POST">

    <h1 class="h3 mb-3 fw-normal">contact me</h1>
    <h5>send me a derect massege via mail</h5>
    <div class="">
      <label for="floatingPassword">email</label>
      <input type="email" name="email" class="form-control" id="floatingPassword" placeholder="name@example.com" autofocus required>
    </div>
    <input type="hidden" name="_next" value="http://localhost:3000/thanks/thanks">
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_cc" value="jilanesk7@gmail.com">
    <input type="hidden" name="_subject" value="from portfolio!">
    <div class="">
      <label for="">massage</label>
      <textarea name="massage" type="text" class="form-control " placeholder="leave a massage. i will get back to you soon" rows="3" cols="15" required></textarea>
    </div>
    <button type="submit" class="btn-send">send message !</button>

  </form>
</div>
